config.php
composer.lock
composer.phar
vendor
public/.htaccess
coverage
public/coverage
public/docs
clover.xml
.php_cs.cache
/nbproject
sql/backups/*.sql.gz
output
humbuglog.txt
cookies.txt
out.html
mysqldump-opts
mysql-opts
